@import url('header.css');
@import url('footer.css');

@font-face {
    font-family: 'Space Grotesk';
    src: url('/assets/fonts/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/assets/fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/assets/fonts/SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/assets/fonts/SpaceGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: 900;
}

:root {
    --background-color: #0E121B;
    --text-color: #4A5864;
    --panel-color: #1A1E27;
    --accent-color: #E75A7C;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font: 14px 'Space Grotesk', sans-serif;
}

body, h1, h2, h3, 
h4, h5, h6, p {
    margin: 0;
}

a {
    color: inherit;
}

.sb-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button, .field {
    padding: 10px 14px;
    border: 1px solid;
    border-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    transition: 80ms;
}

.button, .field:not(.wrapper) {
    font-size: .9em;
}

.button {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: #FFF;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
} .button:hover {
    background-color: #E75A7C;
    border-color: #E75A7C;
} .button:active {
    background-color: #E75A7C;
    border-color: #E75A7C;
}

.button.alt {
    background-color: var(--alt-accent-color);
    border-color: var(--alt-accent-color);
} .button.alt:hover {
    background-color: #2F3441;
    border-color: #2F3441;
} .button.alt:active {
    background-color: #2F3441;
    border-color: #2F3441;
}

.field {
    background-color: transparent;
    border-color: var(--text-color);
    color: var(--heading-color);
} .field:focus {
    outline: none;
    border-color: var(--accent-color);
}

.field::placeholder, .field.wrapper input::placeholder {
    color: var(--text-color);
}

.field.wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: fit-content;
    padding: 8px;
}

.field.wrapper input {
    background-color: transparent;
    border: none;
    font: 1em 'Space Grotesk';
    color: #FFF;
}

.field.wrapper .button {
    border-radius: 4px;
}

.global-container {
    width: 1400px;
    margin: 0 auto;
}