header {
    padding: 100px 0 50px 0;
}

header h1, header h1 + .subheading {
    display: block;
    width: fit-content;
    margin: auto;
    text-align: center;
}

header h1 {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
}

header h1 .heading-icon {
    width: 65px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 5px;
    transform: translateY(-5px);
}

header h1 span {
    color: #FFF;
    font-weight: 500;
}

header h1 + .subheading {
    
}